<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="display:inline-block">Contact Information</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
             <div class="form-group">
                <label class="col-sm-3">Responsible Person</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.responsiblePerson" placeholder="Responsible Person">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Insured Party</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.insuredParty" placeholder="Insured Party">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Information Contact</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.informationContact" placeholder="Information Contact">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">General Contact</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.generalContact" placeholder="General Contact">
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-3">Telephone</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.telephone" placeholder="Telephone">
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-3">Home Phone</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.homePhone" placeholder="Home Phone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Work Phone</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.workPhone" placeholder="Work Phone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Alternate Phone</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.alternatePhone" placeholder="Alternate Phone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Beeper Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="contactInfo.beeperNumber" placeholder="Beeper Number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Email Address</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" [(ngModel)]="contactInfo.email" placeholder="Email Address">
                </div>
            </div>
        </form>
    </div>
</div>



