<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="display:inline-block">Personal Information</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
             <div class="form-group">
                <label class="col-sm-3">Last name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="personalInfo.lastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">First name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="personalInfo.firstName" placeholder="First Name">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3">Middle name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="personalInfo.middleName" placeholder="Middle Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">SSN</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="personalInfo.ssn" placeholder="SSN">
                </div>
            </div>
        </form>
    </div>
</div>