
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-3">Exchange Id</label>
    <div class="col-sm-9">
      <input type="text" class="form-control exchange-id" [(ngModel)]="member.exchangeId" placeholder="Exchange Assigned Id" >
    </div>
  </div>
  <ex-personal-info [personalInfo]="member.personalInfo"></ex-personal-info>

  <ex-address [address]="member.address"></ex-address>

  <ex-contact-info [contactInfo]="member.contactInformation" ></ex-contact-info>

  <ex-health-coverage [healthCoverage]="member.healthCoverage"></ex-health-coverage>
</form>