<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="display:inline-block">Dependents</h3>
        <button (click)="showAddNewDependant($event)" title="Add New Dependant" style="display:inline-block; float:right;">+</button>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" *ngIf="showDependantForm==true" (submit)="submitDependant()">
            <ex-dependant [dependant]="selectedDependant"></ex-dependant>
            <input type="submit" class="btn btn-default" value="submit">
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Exchange Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>SSN</th>
                    <th>Effective Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dependant of dependants; let i = index" (click)="selectDependant(dependant)">
                    <td>{{i+1}}</td>
                    <td>{{dependant.exchangeId}}</td>
                    <td>{{dependant.personalInfo.firstName}}</td>
                    <td>{{dependant.personalInfo.lastName}}</td>
                    <td>{{dependant.personalInfo.ssn}}</td>
                    <td>{{dependant.healthCoverage.effectiveDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>