<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Enrollemnt <small>New Member</small>
        </h1>
    </div>
</div>
<!-- /.row -->
<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="display:inline-block;">Member Details</h3>
                <a href="#" title="fill with random data" (click)="generateRandomData(mc.member)" style="display:inline-block; float:right;"><i class="fa fa-file-text"></i></a>
            </div>
            <div class="panel-body" style="max-height:600px; overflow-y:auto;">
                <ex-member #mc></ex-member>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Generated X12</h3>
            </div>
            <div class="panel-body" style="max-height:600px; overflow-y:auto;">
                <span *ngIf="mc.member">
<span class="segment">ISA</span>*00*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*00*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*ZZ*CMSFFM
                *ZZ*956042390 *131122*1600*^*00501*000002796*1*p*:~<br>
                <span class="segment">GS</span>*BE*WY0*47731WY0030005*20131122*1600*4461*X*005010X220A1~<br>
                <span class="segment">ST</span>*834*897745*005010X220A1~<br>
                <span class="segment">BGN</span>*00*897745*20131122*143753*ET***2~<br>
                <span class="segment">QTY</span>*TO*3~<br>
                <span class="segment">QTY</span>*DT*2~<br>
                <span class="segment">N1</span>*P5*<strong>{{mc.member.personalInfo.firstName}}</strong> <strong>{{mc.member.personalInfo.lastName}}</strong>*FI*<strong>{{mc.member.personalInfo.ssn}}</strong>~<br>
                <span class="segment">N1</span>*IN*NOT AVAILABLE*FI*123456789~<br>
                <span class="segment">INS</span>*Y*18*021*EC*A***AC~<br>
                <span class="segment">REF</span>*0F*<strong>{{mc.member.exchangeId}}</strong>~<br>
                <span class="segment">REF</span>*17*<strong>{{mc.member.exchangeId}}</strong>~<br>
                <span class="segment">REF</span>*6O*WY00000536244~<br>
                <span class="segment">DTP</span>*356*D8*20160101~<br>
                <span class="segment">NM1</span>*IL*1*<strong>{{mc.member.personalInfo.lastName}}</strong>*<strong>{{mc.member.personalInfo.firstName}}</strong>*<strong>{{mc.member.personalInfo.middleName}}</strong>***34*<strong>{{mc.member.personalInfo.ssn}}</strong>~<br>
                <span class="segment">PER</span>*<strong *ngIf="mc.member.contactInformation.insuredParty">IP*{{mc.member.contactInformation.insuredParty}}
        </strong>*<strong *ngIf="mc.member.contactInformation.responsiblePerson">RP*{{mc.member.contactInformation.responsiblePerson}}
        </strong>*<strong *ngIf="mc.member.contactInformation.informationContact">IC*{{mc.member.contactInformation.informationContact}}
        </strong>*<strong *ngIf="mc.member.contactInformation.generalContact">GC*{{mc.member.contactInformation.generalContact}}
        </strong>*<strong *ngIf="mc.member.contactInformation.telephone">TE*{{mc.member.contactInformation.telephone}}
        </strong>*<strong *ngIf="mc.member.contactInformation.homePhone">HP*{{mc.member.contactInformation.homePhone}}
        </strong>*<strong *ngIf="mc.member.contactInformation.workPhone">WP*{{mc.member.contactInformation.workPhone}}
        </strong>*<strong *ngIf="mc.member.contactInformation.alternatePhone">AP*{{mc.member.contactInformation.alternatePhone}}
        </strong>*<strong *ngIf="mc.member.contactInformation.beeperNumber">BN*{{mc.member.contactInformation.beeperNumber}}
        </strong>*<strong *ngIf="mc.member.contactInformation.email">EM*{{mc.member.contactInformation.email}}</strong>~<br>
                <span class="segment">N3</span>*<strong>{{mc.member.address.addressLine1}}</strong>~<br>
                <span class="segment">N4</span>*<strong>{{mc.member.address.addressLine2}}</strong>*<strong>{{mc.member.address.state}}</strong>*<strong>{{mc.member.address.zipCode}}</strong>**CY*56033~<br>
                <span class="segment">DMG</span>*D8*19841211*M*U~<br>
                <span class="segment">HLH</span>*T~<br>
                <span class="segment">HD</span>*021**DEN~<br>
                <span class="segment">DTP</span>*348*D8*<strong>{{mc.member.healthCoverage.effectiveDate | date:"yyyyMMdd"}}</strong>~<br>
                <span class="segment">REF</span>*1L*556168~<br>
                <span class="segment">REF</span>*CE*<strong>{{mc.member.healthCoverage.planId}}</strong>~<br>
                <span class="segment">LS</span>*2700~<br>
                <span class="segment">LX</span>*1~<br>
                <span class="segment">N1</span>*75*REQUEST SUBMIT TIMESTAMP~<br>
                <span class="segment">REF</span>*17*20131122143751~<br>
                <span class="segment">LX</span>*2~<br>
                <span class="segment">N1</span>*75*APTC AMT~<br>
                <span class="segment">REF</span>*9V*0.00~<br>
                <span class="segment">DTP</span>*007*D8*20160101~<br>
                <span class="segment">LX</span>*3~<br>
                <span class="segment">N1</span>*75*PRE AMT 1~<br>
                <span class="segment">REF</span>*9X*0.00~<br>
                <span class="segment">DTP</span>*007*D8*20160101~<br>
                <span class="segment">LX</span>*4~<br>
                <span class="segment">N1</span>*75*PRE AMT TOT~<br>
                <span class="segment">REF</span>*9X*110.77~<br>
                <span class="segment">DTP</span>*007*D8*20160101~<br>
                <span class="segment">LX</span>*5~<br>
                <span class="segment">N1</span>*75*TOT RES AMT~<br>
                <span class="segment">REF</span>*9V*110.77~<br>
                <span class="segment">DTP</span>*007*D8*20160101~<br>
                <span class="segment">LX</span>*6~<br>
                <span class="segment">N1</span>*75*RATING AREA~<br>
                <span class="segment">REF</span>*9X*R-WY003~<br>
                <span class="segment">DTP</span>*007*D8*20160101~<br>
                <span class="segment">LX</span>*7~<br>
                <span class="segment">N1</span>*75*SOURCE EXCHANGE ID~<br>
                <span class="segment">REF</span>*17*WY0~<br>
                <span class="segment">DTP</span>*007*D8*20160101~<br>
                <span class="segment">LE</span>*2700~<br>
                <div *ngFor="let dependant of mc.member.dependants" style="background-color:#ddd;">
                    <span class="segment">INS</span>*N*19*021*EC*A~<br>
                    <span class="segment">REF</span>*0F*<strong>{{mc.member.exchangeId}}</strong>~<br>
                    <span class="segment">REF</span>*17*<strong>{{dependant.exchangeId}}</strong>~<br>
                    <span class="segment">DTP</span>*356*D8*20160101~<br>
                    <span class="segment">NM1</span>*IL*1*<strong>{{dependant.personalInfo.lastName}}</strong>*<strong>{{dependant.personalInfo.firstName}}</strong>*<strong>{{dependant.personalInfo.middleName}}</strong>***34*<strong>{{dependant.personalInfo.ssn}}</strong>~<br>
                    <span class="segment">PER</span>*<strong *ngIf="dependant.contactInformation.insuredParty">IP*{{dependant.contactInformation.insuredParty}}
        </strong>*<strong *ngIf="dependant.contactInformation.responsiblePerson">RP*{{dependant.contactInformation.responsiblePerson}}
        </strong>*<strong *ngIf="dependant.contactInformation.informationContact">IC*{{dependant.contactInformation.informationContact}}
        </strong>*<strong *ngIf="dependant.contactInformation.generalContact">GC*{{dependant.contactInformation.generalContact}}
        </strong>*<strong *ngIf="dependant.contactInformation.telephone">TE*{{dependant.contactInformation.telephone}}
        </strong>*<strong *ngIf="dependant.contactInformation.homePhone">HP*{{dependant.contactInformation.homePhone}}
        </strong>*<strong *ngIf="dependant.contactInformation.workPhone">WP*{{dependant.contactInformation.workPhone}}
        </strong>*<strong *ngIf="dependant.contactInformation.alternatePhone">AP*{{dependant.contactInformation.alternatePhone}}
        </strong>*<strong *ngIf="dependant.contactInformation.beeperNumber">BN*{{dependant.contactInformation.beeperNumber}}
        </strong>*<strong *ngIf="dependant.contactInformation.email">EM*{{dependant.contactInformation.email}}</strong>~<br>
                    <span class="segment">N3</span>*<strong>{{dependant.address.addressLine1}}</strong>~<br>
                    <span class="segment">N4</span>*<strong>{{dependant.address.addressLine2}}</strong>*<strong>{{dependant.address.state}}</strong>*<strong>{{dependant.address.zipCode}}</strong>**CY*56033~<br>
                    <span class="segment">DMG</span>*D8*20100202*M~<br>
                    <span class="segment">HLH</span>*N~<br>
                    <span class="segment">HD</span>*021**DEN~<br>
                    <span class="segment">DTP</span>*348*D8*<strong>{{dependant.healthCoverage.effectiveDate | date : "yyyyMMdd"}}</strong>~<br>
                    <span class="segment">REF</span>*1L*556168~<br>
                    <span class="segment">REF</span>*CE*<strong>{{dependant.healthCoverage.planId}}</strong>~<br>
                    <span class="segment">LS</span>*2700~<br>
                    <span class="segment">LX</span>*1~<br>
                    <span class="segment">N1</span>*75*REQUEST SUBMIT TIMESTAMP~<br>
                    <span class="segment">REF</span>*17*20131122143751~<br>
                    <span class="segment">LX</span>*2~<br>
                    <span class="segment">N1</span>*75*PRE AMT 1~<br>
                    <span class="segment">REF</span>*9X*0.00~<br>
                    <span class="segment">DTP</span>*007*D8*20160101~<br>
                    <span class="segment">LX</span>*3~<br>
                    <span class="segment">N1</span>*75*SOURCE EXCHANGE ID~<br>
                    <span class="segment">REF</span>*17*WY0~<br>
                    <span class="segment">DTP</span>*007*D8*20160101~<br>
                    <span class="segment">LE</span>*2700~<br>
                </div>
                <span class="segment">SE</span>*76*897745~<br>
                <span class="segment">GE</span>*1*4461~<br>
                <span class="segment">IEA</span>*1*000002796~<br>
                </span>
            </div>
        </div>
    </div>



</div>
<div class="row">
    <div class="col-lg-12">
        <ex-dependant-list [dependants]="mc.member.dependants"></ex-dependant-list>
    </div>
</div>