<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display:inline-block">All Members</h3>
            <a  [routerLink]="['/members/add']" title="Add New Member" style="display:inline-block; float:right;"><i class="fa fa-plus"></i></a>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Exchange Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>SSN</th>
                        <th>Effective Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of members; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{member.exchangeId}}</td>
                        <td>{{member.personalInfo.firstName}}</td>
                        <td>{{member.personalInfo.lastName}}</td>
                        <td>{{member.personalInfo.ssn}}</td>
                        <td>{{member.healthCoverage.effectiveDate}}</td>
                        <td>
                            <a href="#" (click)="selectMember(member)" title="Select Member" style="display:inline-block;"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="#" (click)="removeMember(member)" title="Remove Member" style="display:inline-block;"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.row-->