<form class="form" role="form">
  <div class="form-group">
    <label>Exchange Id</label>
    <input type="text" class="form-control" [(ngModel)]="member.exchangeId" (ngModelChange)="onChange($event)"  placeholder="Exchange Assigned Id">
  </div>
    <div class="form-group">
    <label>First name</label>
    <input type="text" class="form-control" [(ngModel)]="member.firstName" (ngModelChange)="onChange($event)"  placeholder="First Name">
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input type="text" class="form-control" [(ngModel)]="member.lastName" (ngModelChange)="onChange($event)"  placeholder="Last Name">
  </div>
     <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" [(ngModel)]="member.email"  (ngModelChange)="onChange($event)"  placeholder="Email">
  </div>
     <div class="form-group">
    <label>Address Line 1</label>
    <input type="text" class="form-control" [(ngModel)]="member.address.addressLine1"  (ngModelChange)="onChange($event)"  placeholder="Address Line 1">
  </div>
  
     <div class="form-group">
    <label>Address Line 2</label>
    <input type="text" class="form-control" [(ngModel)]="member.address.addressLine2"  (ngModelChange)="onChange($event)"  placeholder="Address Line 2">
  </div>
</form>